$blue: #337ab7;
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $blue;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white !important;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.adminpage {
	padding-top: 60px;
	display: flex;
	.nav-tabs {
		width: 130px;
		padding: 0;
		list-style-type: none;
		display: inline-block;
		margin: 0;
		background: #22547c;
		li {
			text-align: center;
			a {
				padding: 10px 10px 10px 5px;
				color: #fff;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				display: block;
				position: relative;
			}
			img {
				max-width: 40px;
				margin: 0 auto 5px;
				display: block;
			}
			.arrow-left {
				display: none;
				width: 0; 
				height: 0; 
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent; 
				border-right: 10px solid #fff; 
				position: absolute;
				right: 0;
				top: 35px;
			}
		}
		.active {
			background: $blue;
			.arrow-left {
				display: initial;
			}
		}
		li:hover {
			background: $blue;
		}
	}
	.tab-content {
		width: calc(100% - 130px);
		padding: 40px;
		.tab-pane {
			.loading {
				height: 100%;
				background: url('../img/loading.gif') no-repeat center center;
			}
			.addbutton {
				padding: 10px 20px;
				background: #fff;
				border: 1px solid $blue;
				color: $blue;
				cursor: pointer;
				font-family: 'Roboto', sans-serif;
				font-size: 15px;
				margin-bottom: 20px;
				text-transform: capitalize;
				float: right;
				margin-left: 15px;
			}
			span.page-span {
				font-family: 'Roboto', sans-serif;
				font-size: 15px;
				letter-spacing: 1px;
				color: #000;
			}
			select.page-select {
		    	height: 45px;
			    outline: none;
			    font-size: 15px;
			    color: #000;
			    padding: 10px 20px 10px 10px;
			    letter-spacing: 2px;
			    border: 1px solid #DCCBCF;
			    background: transparent;
				font-family: 'Roboto', sans-serif;
				text-transform: capitalize;
				margin: 0 40px 30px 0;
				option {
					color: initial;
				}
			}
			.chart-wrapper {
				text-align: center;
			}
			table {
				font-family: 'Roboto', sans-serif;
				font-size: 15px;
				margin: 0;
				th {
					background: $blue;
					color: #fff;
					font-weight: normal;
				}
				th.search {
					background: transparent;
					border: none !important;
				}
				td, th {
					text-align: center;
					text-transform: capitalize;
					vertical-align: middle;
					border: 1px solid #ccc !important;
					img {
						max-height: 25px;
					}
					a {
						cursor: pointer;
						i {
							margin-right: 5px;
						}
					}
					input[type=number] {
						width: 50px;
						text-align: center;
					}
					input[type=number]::-webkit-inner-spin-button, 
					input[type=number]::-webkit-outer-spin-button { 
						-webkit-appearance: none; 
						margin: 0;
					}
				}
				tfoot {
					tr {
						td {
							border: 0 !important;
							.pagination {
								margin: 0;
							}
						}
					}
				}
				td.email {
					text-transform: none;
				}
				p {
					margin-bottom: 0;
				}
				.action {
					text-align: center;
					white-space: nowrap;
					a {
						margin: 0 10px;
						cursor: pointer;
					}
				}
			}
			.admin-modal {
				a {
					text-decoration:none !important;
				}
				input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
					color: #040404 !important;
				}
				input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
					color: #040404 !important;  
				}
				input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
					color: #040404 !important;  
				}
				input:-ms-input-placeholder, textarea:-ms-input-placeholder {  
					color: #040404 !important;  
				}
				.modal-dialog {
					background: transparent;
					width: fit-content;
					margin: 50px auto;
					.modal-content {
						background: transparent;
						box-shadow: none;
						border: 0;
						.main-agileits {
						    font-family: 'Roboto', sans-serif;
							position: relative;
							width: 100%;
							background: #fff;
							overflow: hidden;
							background-size: cover;
							background-position: center center;
							z-index: 1;
							//background-image: url('../img/login-bg.jpg');
							background-position: center bottom;
						    .form-w3-agile {
							    background: #fff;
							    -webkit-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
							    -moz-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
							    box-shadow: 0px 35px 44px -22px #1f181b;
							    padding: 45px 30px;
							    h2 {
								    color: #040404;
								    font-size: 25px;
								    text-align: center;
								    margin-bottom: 40px;
								    letter-spacing: 2px;
								    margin-top: 0;
								    text-transform: capitalize;
								}
								form {
								    margin: 0 auto;
								    width: 100%;
									.form-sub-w3 {
										display: flex;
										align-items: center;
										justify-content: space-between;
									    margin-bottom: 20px;
									    input, select, textarea {
									    	height: 45px;
										    outline: none;
										    font-size: 15px;
										    color: #000;
										    padding: 10px;
										    letter-spacing: 2px;
										    width: 100%;
										    border: 1px solid #DCCBCF;
										    background: transparent;
											font-family: 'Roboto', sans-serif;
											text-transform: capitalize;
											option {
												color: initial;
											}
										}
										textarea {
											height: initial;
										}
										input[type='date'] {
											text-transform: none;
											width: 180px;
										}
										input[type='email'] {
											text-transform: none;
										}
										span {
											font-family: 'Roboto', sans-serif;
											font-size: 15px;
											letter-spacing: 1px;
											color: #000;
										}
										.checkbox-wrapper {
											display: flex;
											align-items: center;
											justify-content: space-between;
											.checkbox {
												display: inline-block;
												margin-right: 10px;
												margin-top: 10px;
												input {
													width: 20px;
													height: initial;
												}
												label {
													font-family: 'Roboto', sans-serif;
													font-size: 15px;
													letter-spacing: 1px;
													color: #000;
												}
											}
										}
										p {
											margin: 0;
											font-family: 'Roboto', sans-serif;
											font-size: 15px;
											letter-spacing: 2px;
											color: #000;
										}
										.error {
											color: red;
										}
										.success {
											color: #8BC34A;
											text-align: center;
										}
										label.upload {
											line-height: 45px;
											padding: 0;
											font-family: 'Roboto', sans-serif;
											font-size: 15px;
											margin-bottom: 0;
										}
									}
									img {
										max-width: 100%;
									}
									.flexcenter {
										display: flex;
										align-items: center;
										justify-content: space-between;
									}
									input[type="submit"], input[type="button"] {
									    background: $blue;
									    color: #fff;
									    outline: none;
									    float: right;
									    border: none;
									    cursor: pointer;
									    padding: 7px 35px;
									    font-size: 16px;
									    font-weight: bold;
									    text-transform: uppercase;
										font-family: 'Roboto', sans-serif;
										transition: 0.3s all;
									    -webkit-transition: 0.3s all;
									    -moz-transition: 0.3s all;
									    -o-transition: 0.3s all;
									    -ms-transition: 0.3s all;
									}
									input[type="button"] {
											float: none;
											background-color: #fff;
											color: #000;
											border: 1px solid #000;
										}
									input[type="submit"]:hover{
									    background: #4CAF50;
										color:#ffffff;
										transition: 0.3s all;
									    -webkit-transition: 0.3s all;
									    -moz-transition: 0.3s all;
									    -o-transition: 0.3s all;
									    -ms-transition: 0.3s all;
									}
									input:disabled {
										background-color: #EBEBE4;
										border: none;
										cursor: no-drop;
									}
								}
							}
						}
					}
				}
				.schedule-modal {
					h2 {
						margin-bottom: 20px !important;
					}
					table {
						margin-bottom: 30px;
					}
					.submit-w3l {
						padding: 0;
					}
				}
			}
		}
	}
}