@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

.homepage {
  padding-top: 140px;
  background-color: #eee; }

.my-flipster li .img {
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center; }
.my-flipster li .info {
  padding: 20px 0 10px 0;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 3px 3px 5px -1px #706c70;
  -moz-box-shadow: 3px 3px 5px -1px #706c70;
  box-shadow: 3px 3px 5px -1px #706c70; }
  .my-flipster li .info .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px; }
  .my-flipster li .info .course {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; }

.subject-wrapper {
  padding: 40px 0; }
  .subject-wrapper .subject .course-wrapper {
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 5px -1px #706c70;
    -moz-box-shadow: 3px 3px 5px -1px #706c70;
    box-shadow: 3px 3px 5px -1px #706c70; }
    .subject-wrapper .subject .course-wrapper .img {
      height: 250px;
      background-size: cover;
      background-position: center; }
    .subject-wrapper .subject .course-wrapper .info {
      padding: 15px;
      background: #fff; }
      .subject-wrapper .subject .course-wrapper .info .name {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px; }
      .subject-wrapper .subject .course-wrapper .info .price {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px; }
        .subject-wrapper .subject .course-wrapper .info .price img {
          width: 20px;
          height: 20px;
          -webkit-filter: invert(100%);
          margin-right: 5px;
          vertical-align: bottom; }
      .subject-wrapper .subject .course-wrapper .info .desc {
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        height: 120px;
        overflow: hidden; }

.education-info {
  background-image: url("../img/student.png");
  background-position: bottom;
  background-size: cover;
  padding: 70px 0; }
  .education-info .title {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px; }
  .education-info .box-wrapper {
    text-align: center; }
  .education-info .box {
    color: #fff;
    display: inline-block;
    width: 85%;
    padding-top: 85%;
    position: relative;
    cursor: pointer; }
    .education-info .box .text-wrapper {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      width: 100%; }
    .education-info .box .big-text {
      font-size: 45px; }
    .education-info .box .text {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.8;
      height: 35px; }

.homepage-modal a {
  text-decoration: none !important; }
.homepage-modal input::-webkit-input-placeholder, .homepage-modal textarea::-webkit-input-placeholder {
  color: #040404 !important; }
.homepage-modal input:-moz-placeholder, .homepage-modal textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #040404 !important; }
.homepage-modal input::-moz-placeholder, .homepage-modal textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #040404 !important; }
.homepage-modal input:-ms-input-placeholder, .homepage-modal textarea:-ms-input-placeholder {
  color: #040404 !important; }
.homepage-modal .modal-dialog {
  background: transparent;
  width: 900px;
  margin: 50px auto; }
  .homepage-modal .modal-dialog .modal-content {
    background: transparent;
    box-shadow: none;
    border: 0; }
    .homepage-modal .modal-dialog .modal-content .main-agileits {
      font-family: 'Roboto', sans-serif;
      position: relative;
      width: 100%;
      background: #fff;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      z-index: 1;
      background-position: center bottom; }
      .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile {
        background: #fff;
        -webkit-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
        -moz-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
        box-shadow: 0px 35px 44px -22px #1f181b;
        padding: 40px 30px; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile h2 {
          color: #040404;
          font-size: 25px;
          text-align: center;
          margin-bottom: 30px;
          letter-spacing: 2px;
          margin-top: 0;
          text-transform: capitalize; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .course, .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule {
          color: #040404;
          font-size: 18px;
          margin-bottom: 10px;
          letter-spacing: 2px;
          margin-top: 0;
          text-transform: capitalize; }
          .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .course span, .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule span {
            color: #337ab7; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule {
          font-size: 16px; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .form-sub-w3 {
          position: relative;
          margin-bottom: 15px; }
          .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .form-sub-w3 input {
            outline: none;
            font-size: 15px;
            color: #000;
            padding: 10px;
            letter-spacing: 2px;
            width: 100%;
            border: none;
            border: 1px solid #040404;
            margin-bottom: 5px;
            background: transparent;
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile .submit-w3l {
          margin-top: 10px; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="submit"], .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="button"] {
          background: #337ab7;
          color: #fff;
          outline: none;
          float: right;
          border: none;
          cursor: pointer;
          padding: 7px 35px;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
          transition: 0.3s all;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -o-transition: 0.3s all;
          -ms-transition: 0.3s all; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="button"] {
          float: none;
          background-color: #fff;
          color: #000;
          border: 1px solid #000; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="submit"]:hover {
          background: #4CAF50;
          color: #ffffff;
          transition: 0.3s all;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -o-transition: 0.3s all;
          -ms-transition: 0.3s all; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr td, .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr th {
          text-align: center;
          vertical-align: middle; }
        .homepage-modal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr .action {
          color: #337ab7;
          cursor: pointer; }

/*# sourceMappingURL=homepage.css.map */
