$blue: #337ab7;
.officepage {
	padding-top: 100px;
	padding-bottom: 40px;
	.title {
		font-family: 'Montserrat', sans-serif;
		font-size: 35px;
		text-align: center;
		margin-bottom: 50px;
	}
	.office-wrapper {
		margin-bottom: 30px;
		.name {
			img {
				margin-right: 10px;
			}
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-weight: bold;
		}
		.address {
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			padding-left: 38px;
			margin-bottom: 10px;
			div {
				i {
					margin-right: 10px;
				}
				margin-bottom: 10px;
			}
		}
	}
}