.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #337ab7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white !important; }

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.my-button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 15px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer; }

.my-button:hover {
  background-color: #008CBA;
  color: white; }

.my-button.left {
  float: right; }

.my-button:disabled {
  cursor: not-allowed;
  opacity: 0.4; }

.profilepage {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee; }
  .profilepage .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px; }
  .profilepage .profile-wrapper {
    -webkit-box-shadow: 3px 3px 5px -1px #706c70;
    -moz-box-shadow: 3px 3px 5px -1px #706c70;
    box-shadow: 3px 3px 5px -1px #706c70;
    padding: 30px 15px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff; }
    .profilepage .profile-wrapper .avatar-wrapper {
      display: inline-block;
      padding: 0 10px;
      margin-right: 20px; }
      .profilepage .profile-wrapper .avatar-wrapper .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        float: left; }
      .profilepage .profile-wrapper .avatar-wrapper .button {
        cursor: pointer; }
    .profilepage .profile-wrapper .text-wrapper {
      display: inline-block;
      width: calc(100% - 190px);
      float: right; }
      .profilepage .profile-wrapper .text-wrapper .text {
        padding: 20px 20px 0; }
        .profilepage .profile-wrapper .text-wrapper .text p {
          text-align: right; }
          .profilepage .profile-wrapper .text-wrapper .text p span {
            font-weight: bold;
            float: left; }
    .profilepage .profile-wrapper .button-wrapper {
      margin-top: 30px; }
      .profilepage .profile-wrapper .button-wrapper .button {
        border: 1px solid #337ab7;
        border-radius: 5px;
        margin: 0 10px;
        padding: 5px 20px;
        display: inline-block;
        font-weight: bold;
        color: #337ab7;
        cursor: pointer; }
  .profilepage .tab-wrapper {
    padding: 0; }
    .profilepage .tab-wrapper .nav-tabs {
      position: absolute;
      display: flex; }
      .profilepage .tab-wrapper .nav-tabs li {
        display: inline-block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #eee;
        border-bottom: 1px solid #ccc; }
        .profilepage .tab-wrapper .nav-tabs li a {
          color: #000; }
      .profilepage .tab-wrapper .nav-tabs .active {
        background: #fff;
        border: 1px solid #ccc;
        border-bottom: 1px solid #fff; }
    .profilepage .tab-wrapper .tab-content {
      background-color: #fff;
      -webkit-box-shadow: 3px 3px 5px -1px #706c70;
      -moz-box-shadow: 3px 3px 5px -1px #706c70;
      box-shadow: 3px 3px 5px -1px #706c70;
      border: 1px solid #ccc;
      padding: 20px;
      margin-top: 41px; }
      .profilepage .tab-wrapper .tab-content .addbutton {
        padding: 10px 15px;
        background: #fff;
        border: 1px solid #337ab7;
        color: #337ab7;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        margin-bottom: 20px;
        text-transform: capitalize;
        float: right; }
      .profilepage .tab-wrapper .tab-content table tr td, .profilepage .tab-wrapper .tab-content table tr th {
        vertical-align: middle;
        text-align: center; }
        .profilepage .tab-wrapper .tab-content table tr td input[type=number], .profilepage .tab-wrapper .tab-content table tr th input[type=number] {
          width: 50px;
          text-align: center; }
        .profilepage .tab-wrapper .tab-content table tr td input[type=number]::-webkit-inner-spin-button,
        .profilepage .tab-wrapper .tab-content table tr td input[type=number]::-webkit-outer-spin-button, .profilepage .tab-wrapper .tab-content table tr th input[type=number]::-webkit-inner-spin-button,
        .profilepage .tab-wrapper .tab-content table tr th input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        .profilepage .tab-wrapper .tab-content table tr td textarea, .profilepage .tab-wrapper .tab-content table tr th textarea {
          padding: 10px; }
      .profilepage .tab-wrapper .tab-content table tr td {
        cursor: pointer; }
        .profilepage .tab-wrapper .tab-content table tr td img {
          max-height: 25px; }
      .profilepage .tab-wrapper .tab-content table tr .text {
        font-family: 'Roboto', sans-serif;
        font-size: 15px; }
        .profilepage .tab-wrapper .tab-content table tr .text .course {
          color: #337ab7;
          font-weight: bold; }

.profile-modal a {
  text-decoration: none !important; }
.profile-modal input::-webkit-input-placeholder, .profile-modal textarea::-webkit-input-placeholder {
  color: #040404 !important; }
.profile-modal input:-moz-placeholder, .profile-modal textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #040404 !important; }
.profile-modal input::-moz-placeholder, .profile-modal textarea::-moz-placeholder {
  /* Firefox 19 */
  color: #040404 !important; }
.profile-modal input:-ms-input-placeholder, .profile-modal textarea:-ms-input-placeholder {
  color: #040404 !important; }
.profile-modal .modal-dialog {
  background: transparent;
  width: fit-content;
  margin: 50px auto; }
  .profile-modal .modal-dialog .modal-content {
    background: transparent;
    box-shadow: none;
    border: 0; }
    .profile-modal .modal-dialog .modal-content .main-agileits {
      font-family: 'Roboto', sans-serif;
      position: relative;
      width: 100%;
      background: #fff;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      z-index: 1;
      background-position: center bottom; }
      .profile-modal .modal-dialog .modal-content .main-agileits .error {
        padding: 0 15px;
        font-style: italic;
        color: red;
        margin-bottom: 10px; }
      .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile {
        background: #fff;
        -webkit-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
        -moz-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
        box-shadow: 0px 35px 44px -22px #1f181b;
        padding: 30px; }
        .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form {
          margin: 0 auto;
          width: 100%; }
          .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form h2 {
            color: #040404;
            font-size: 25px;
            text-align: center;
            margin-bottom: 40px;
            letter-spacing: 2px;
            margin-top: 0;
            text-transform: capitalize; }
          .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .form-sub-w3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            height: 55px; }
            .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .form-sub-w3 select, .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .form-sub-w3 input {
              outline: none;
              font-size: 15px;
              color: #000;
              padding: 10px;
              letter-spacing: 2px;
              width: 100%;
              border: 1px solid #DCCBCF;
              background: transparent;
              font-family: 'FontAwesome', 'Roboto', sans-serif;
              text-transform: capitalize; }
              .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .form-sub-w3 select option, .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .form-sub-w3 input option {
                color: initial; }
            .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .form-sub-w3 input[type='date'] {
              text-transform: none;
              width: 180px; }
            .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .form-sub-w3 span {
              font-family: 'Roboto', sans-serif;
              font-size: 15px;
              letter-spacing: 1px;
              color: #000; }
          .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .submit-w3l {
            display: flex;
            align-items: center;
            height: 55px;
            justify-content: center; }
          .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form .review-wrapper {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            letter-spacing: 1px;
            color: #000;
            margin-bottom: 20px; }
          .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form input[type="submit"] {
            background: #337ab7;
            color: #fff;
            outline: none;
            float: right;
            border: none;
            cursor: pointer;
            padding: 7px 35px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            transition: 0.3s all;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -o-transition: 0.3s all;
            -ms-transition: 0.3s all; }
          .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form input[type="submit"]:hover {
            background: #4CAF50;
            color: #ffffff;
            transition: 0.3s all;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -o-transition: 0.3s all;
            -ms-transition: 0.3s all; }
          .profile-modal .modal-dialog .modal-content .main-agileits .form-w3-agile form input:disabled {
            background-color: #EBEBE4 !important;
            border: none;
            cursor: no-drop; }

/*# sourceMappingURL=profilepage.css.map */
