.subjectpage {
  padding-top: 100px;
  padding-bottom: 40px; }
  .subjectpage .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px; }
  .subjectpage .course-wrapper {
    display: flex;
    margin-bottom: 40px;
    cursor: pointer; }
    .subjectpage .course-wrapper .img {
      height: 180px;
      width: 300px;
      background-size: cover !important;
      background-position: center !important;
      margin-right: 30px; }
    .subjectpage .course-wrapper .info {
      width: calc(100% - 300px);
      color: #2d2a2a; }
      .subjectpage .course-wrapper .info .name {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-bottom: 10px; }
      .subjectpage .course-wrapper .info .desc {
        font-family: 'Roboto', sans-serif;
        font-size: 16px; }
      .subjectpage .course-wrapper .info .price {
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: #337ab7; }
  .subjectpage .right .img {
    order: 2;
    margin-right: 0;
    margin-left: 30px; }
  .subjectpage .right .info {
    text-align: right; }
  .subjectpage #classModal a, .subjectpage #classregisterModal a {
    text-decoration: none !important; }
  .subjectpage #classModal input::-webkit-input-placeholder, .subjectpage #classModal textarea::-webkit-input-placeholder, .subjectpage #classregisterModal input::-webkit-input-placeholder, .subjectpage #classregisterModal textarea::-webkit-input-placeholder {
    color: #040404 !important; }
  .subjectpage #classModal input:-moz-placeholder, .subjectpage #classModal textarea:-moz-placeholder, .subjectpage #classregisterModal input:-moz-placeholder, .subjectpage #classregisterModal textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #040404 !important; }
  .subjectpage #classModal input::-moz-placeholder, .subjectpage #classModal textarea::-moz-placeholder, .subjectpage #classregisterModal input::-moz-placeholder, .subjectpage #classregisterModal textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #040404 !important; }
  .subjectpage #classModal input:-ms-input-placeholder, .subjectpage #classModal textarea:-ms-input-placeholder, .subjectpage #classregisterModal input:-ms-input-placeholder, .subjectpage #classregisterModal textarea:-ms-input-placeholder {
    color: #040404 !important; }
  .subjectpage #classModal .modal-dialog, .subjectpage #classregisterModal .modal-dialog {
    background: transparent;
    width: 900px;
    margin: 50px auto; }
    .subjectpage #classModal .modal-dialog .modal-content, .subjectpage #classregisterModal .modal-dialog .modal-content {
      background: transparent;
      box-shadow: none;
      border: 0; }
      .subjectpage #classModal .modal-dialog .modal-content .main-agileits, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits {
        font-family: 'Roboto', sans-serif;
        position: relative;
        width: 100%;
        background: #fff;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        background-position: center bottom; }
        .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile {
          background: #fff;
          -webkit-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
          -moz-box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
          box-shadow: 0px 35px 44px -22px #1f181b;
          padding: 40px 30px; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile h2, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile h2 {
            color: #040404;
            font-size: 25px;
            text-align: center;
            margin-bottom: 30px;
            letter-spacing: 2px;
            margin-top: 0;
            text-transform: capitalize; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .course, .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .course, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule {
            color: #040404;
            font-size: 18px;
            margin-bottom: 10px;
            letter-spacing: 2px;
            margin-top: 0;
            text-transform: capitalize; }
            .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .course span, .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule span, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .course span, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule span {
              color: #337ab7; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .info .schedule {
            font-size: 16px; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .form-sub-w3, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .form-sub-w3 {
            position: relative;
            margin-bottom: 15px; }
            .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .form-sub-w3 input, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .form-sub-w3 input {
              outline: none;
              font-size: 15px;
              color: #000;
              padding: 10px;
              letter-spacing: 2px;
              width: 100%;
              border: none;
              border: 1px solid #040404;
              margin-bottom: 5px;
              background: transparent;
              font-family: 'Roboto', sans-serif;
              text-transform: capitalize; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile .submit-w3l, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile .submit-w3l {
            margin-top: 10px; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="submit"], .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="button"], .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="submit"], .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="button"] {
            background: #337ab7;
            color: #fff;
            outline: none;
            float: right;
            border: none;
            cursor: pointer;
            padding: 7px 35px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            transition: 0.3s all;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -o-transition: 0.3s all;
            -ms-transition: 0.3s all; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="button"], .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="button"] {
            float: none;
            background-color: #fff;
            color: #000;
            border: 1px solid #000; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="submit"]:hover, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile input[type="submit"]:hover {
            background: #4CAF50;
            color: #ffffff;
            transition: 0.3s all;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -o-transition: 0.3s all;
            -ms-transition: 0.3s all; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr td, .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr th, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr td, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr th {
            text-align: center;
            vertical-align: middle; }
          .subjectpage #classModal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr .action, .subjectpage #classregisterModal .modal-dialog .modal-content .main-agileits .form-w3-agile table tr .action {
            color: #337ab7;
            cursor: pointer; }

/*# sourceMappingURL=subjectpage.css.map */
